﻿
@model Model.ModelContext.contribuyentes

@{
    ViewBag.Title = Model.nombre_c + " ";
    List<Model.ModelContext.negocio> negocio = ViewBag._negocio;
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/">Inicio</a></li>
    <li class="breadcrumb-item active">@(Model.nombre_c + " ")</li>
</ol>

    @Html.ActionLink("Nuevo Tributo", "crudnegocio", new {param1=Model.id}, new { @class = "btn btn-success" })
    @Html.ActionLink("Editar", "contact", "Home", new { id=Model.id }, new { @class = "btn btn-warning" })
<div class="panel panel-default">
    <div class="panel-heading">Información personal</div>

    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Nombre</dt>
            <dd>@Model.nombre_c</dd>
            <dt>Apellido</dt>
            <dd>@Model.apellido_c</dd>

        </dl>
    </div>
</div>

@if (Model.negocio.Count > 0)
{
    <div class="card">
        <div class="card-header">Negocios Matriculados</div>
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Nombre</th>
                    <th style="width:60px;">N° de Matricula</th>
                    <th style="width: 6%; text-align:right;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.negocio)
                {
                    if (c.id_cont_negocio == Model.id)
                    {
                        <tr>
                            <td>@Html.ActionLink(c.nombre_n, "crudnegocio", new { param1 = Model.id, id = c.id_n }, new { @class = "" })</td>

                            <td>@c.num_mat</td>

                           @* <td><a href="~/negocio/index/@c.id_n" class="btn btn-dark pull-right">Editar</a></td>*@
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No hay Tributos.</p>
}

